.background {
  background: #f8f9fe;
  position: absolute;
  min-height: 80vh;
  left: 0px;
  top: 86px;
}
.filter-name {
  font-family: Baloo 2;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 25px;
  color: #7e7d7d;
}

.leaflet-container {
  width: 100%;
  height: 100vh;
}
.leaflet-left {
  display: none;
}
.leaflet-bar a {
  color: #7e7bff;
  border: 3px solid #7e7bff;
}

.leaflet-bar a:first-child {
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
  border-radius: 50%;
}
.leaflet-touch .leaflet-bar a:first-child {
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
  border-radius: 50%;
}
.leaflet-touch .leaflet-bar a:last-child {
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
  border-radius: 50%;
}
.leaflet-touch .leaflet-bar a {
  width: 30px;
  height: 30px;
  line-height: 26px;
}

.leaflet-touch .leaflet-control-zoom-in,
.leaflet-touch .leaflet-control-zoom-out {
  font-size: 20px;
}

.text_name {
  /* position: absolute;
  width: 211px;
  height: 25px;
  left: 438px;
  top: 142px; */
  font-family: Baloo 2;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 25px;
  color: #7e7d7d;
}
.map {
  position: absolute;
  border-radius: 8px;
  width: 914px;
  height: 605px;
  left: 438px;
  top: 207px;
}

input[type="checkbox"] {
  filter: invert(0%) brightness(1) hue-rotate(75deg);
}

input[type="radio"] {
  filter: invert(0%) brightness(1) hue-rotate(75deg);
}

.tTop {
  padding-top: 40rem;
  padding-bottom: 40rem;
}

.tSide {
  padding-right: 2rem;
}
